//colors
$primary:   #202020;
$secondary: #121212;
$white:     #ffffff;
$red:       #ED3024;
$blue:      #3137C9;
$black:     #000000;
$lightblue: #104BE3;

$z-index: 1000;

$sidebar-width: 300px;

$tablet-bp: 991px;
$mobile-bp: 575px