.subnav {
  display: none;
  width: 16.5rem;

  background: $blue;

  position: absolute;
  top: 100%;
  left: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 6px 8px rgba($black, .2);

  @include breakpoint($tablet-bp) {
    width: 100%;
    padding-left: 1rem;
    position: static;

    background: none;
    box-shadow: none;
  }
}

.subnav__link {
  display: block;
  padding: 0.45rem 1.2rem;

  font-size: 1.2rem;
  color: $white;
  text-decoration: none;

  transition: background .2s ease-in-out;

  &:first-child {
    padding-top: 0.95rem;
  }

  &:last-child {
    padding-bottom: 0.95rem;
    border-radius: 0 0 5px 5px;
  }

  &:hover {
    background: darken($blue, 5%);
  }

  @include breakpoint($tablet-bp) {
    padding-left: 0;
    padding-right: 0;

    font-size: 1.4rem;

    &:hover {
      background: none !important;
    }
  }
}